@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    --universal-color: #476072;
    --universal-font: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: white;
    height: 2000px;
}

.navbar-contactus {  /* navbar and contact us start */

    width: 100%;
    height: 150px;
    background-color: #476072;
    position: sticky;
    top: 0;
    z-index: 1;
}


.contactus-container {

    text-align: center;
    height: 266px;
    width: 100%;
    background-color: var(--universal-color);
    

}

.contactus-container h1  {

    font-family: 'Roboto', sans-serif;
    font-size: 1.9rem;
    color: #fff;
    padding-bottom: 30px;
    
}

.contactus-container p {

    font-family: var(--universal-font) ;
    color: #fff;
    opacity: 0.7;
    padding-left: 10px;

}
ul, li {
   
    display: inline;
    font-family: var(--universal-font);
    color: #fff;
    opacity: 0.9;
    margin-left: 50px;
    list-style: none;
    font-size: 15px;
    position: relative;
    left: 80px;
    list-style: none;
}

a {

    text-decoration: none;
    color: inherit;
}

a:hover {
  
    color: whitesmoke;

}

#logo {

   position: relative;
   left: 20px;
   top:  23px;
}
  #freetrial{
  float: right;
  width: 180px;
  height: 47px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-style: none;
  cursor: pointer;
  background-color: #548CA8;
  color: #fff;
  font-family: var(--universal-font);
  position: relative;
  right: 200px;
  bottom: 15px;
}

#freetrial:hover {

    background-color:  #000;
}

#login {

    float: right;
    position: relative;
    left: 100px;
    width: 100px;
    height: 47px;
    bottom: 16px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-style: none;
    background-color: var(--universal-color);
    color: #fff;
    font-family: var(--universal-font);
    border-color: #fff;
    border-style: solid;
    cursor: pointer;

}

#login:hover{

    background-color: #000;

}

/* navbar end*/

.form-container {
    margin-top: 140px;
    margin-left: 40px;
    width: 50%;
}
input {
    display: block;
    margin-top: 30px;
    width: 400px;
    
}
textarea{
    
    width: 400px;
    resize: none;
    margin-top: 30px;
    height: 100px;
}